@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #d0d0da;
  --background-color: #2c2d38;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #2c2d38;
    --background-color: #d0d0da;
    
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
